@model IEnumerable<Test.Models.Tournament>

<div class="row">
    <div class="col-lg-12">
        <h2>Tournament</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover tablesorter">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TournamentName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TournamentName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.TournamentID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.TournamentID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.TournamentID })
                        </td>
                    </tr>
                }

            </table>
            </div>
       
</div>
    </div>

